{{ $ := .root }}
{{ $page := .page }}

<!-- Experience widget -->
<div class="row">
  <div class="col-12 col-lg-4 section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
  </div>
  <div class="col-12 col-lg-8">
   
    <div class="card">
      <div class="card-body news-list-wrap">
         {{/*  time line  */}}
        {{/*  <div class="time-line-dot-wrap">
         
          {{ range $idx, $item :=  $page.Params.news_list  }}

          <div class="circle-wrap">
            <div class="circle-dot"></div>
            <div class="circle-line"></div>
          </div>

          {{ end }}
        </div>  */}}

        
          {{ range $idx, $item :=  $page.Params.news_list  }}

          <div class="time-line-content-wrap">
            <div class="circle-wrap"><div class="circle-dot"></div></div>
            <div class="news-line-content">{{ $item | markdownify }}</div>
          </div>
          

          {{ end }}
       
        
 
        


      </div>
    </div>
    
    
  
 
  </div>
</div>
